.card-avatar{
    position: absolute;
    bottom: -100px;
    width: 120px;
    height: 120px;
}
.post_small{
    a{
        color: black !important;
    }
    margin-bottom: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    transition: all 300ms;
    position: relative;
    cursor: pointer;
    &:hover{
        a, span, i, p{
            color: white !important;
        }
        box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12)!important;
        background-color: $primary-color;
    }
}
.actions{
    right: 10px;
    top: 10px;
    position: absolute;
}
.pagination{
    padding-left: 0px !important;
    margin: 15px 0px !important;
    .page-link{
        padding: 15px;
    }
    .active{
        .page-link{
            background-color: $primary-color !important;
            border: none !important;
        }
    }
}
label{
    margin-bottom: 0px;
}
.v-input__append-outer{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.give-me-space{
    padding: 40px 0px;
}
.trumbowyg-button-pane{
    z-index: 1 !important;
}
.carousel-inner > .carousel-item {
    position: relative;
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        .content-left, .content-right, .content-center{
            display: flex;
            flex-direction: column;
        }
        .content-left{
            align-items: flex-start;
        }
        .content-center{
            align-items: center;
        }
        .content-right{
            align-items: flex-end;
        }
    }
    transition-duration: 450ms !important;
}
.v-content{
    padding-top: 0px !important;
}
.background-white{
    background-color: white !important;
}
.container{
    max-width: 85%;
    width: 85%;
}

.categories-header{
    border-bottom: 1px solid #d6d6d2;
}
.active-toolbar-link{
    &:before{
        opacity: .09 !important;
    }
}
.blured-application{
    .v-application--wrap{
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
        transition: all 300ms;
    }
}
.my-link{
    color: #222222;
    transition: all 200ms;
    h2,h3,p,span{
        color: #222222;
        transition: all 200ms;
    }
    &:hover{
        color: $primary-color;
        h2,h3,p,span{
            color: $primary-color;
        }
    }
}
.sticky-top{
    z-index: 1 !important;
}
.must-pay{
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        font-size: 1.5rem;
        font-weight: bold;
        opacity: 0.7;
    }
}
.my-header{
    font-family: $font-header !important;
    margin-bottom: 15px;
    h1,h2,h3,h4{
        font-family: $font-header !important;
        font-weight: 900;
        font-size: 2rem;
        margin: 10px 0px;
    }
    span{
        font-family: $font-header !important;
        font-weight: 200;
        font-size: 0.9rem;
        color: $grey-color;
        margin-bottom: 10px;
    }
}
.theme--dark{
    .my-header{
        h1,h2,h3,h3,span{
            color: rgb(250, 250, 250);
        }
    }
}
@keyframes slideInTop {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.slideInTop{
    opacity: 0;
    animation-delay: 100ms;
    animation:slideInTop;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}
.avatar{
    .content{
        opacity: 0;
        transition: all 300ms;
    }
    &:hover{
        .content{
            opacity: 1;
        }
    }
}
.my-nav{
    padding: 16px;
    .v-list-item{
        border-bottom: 1px solid rgba(250,250,250, 0.3);
        a{
            color: white;
            text-decoration: none !important;
        }
        .v-list-item__title{
            font-size: 1.2rem;
            display: flex;
            align-items: center;
        }
    }
}
.avatar-group{
    .v-avatar{
        img{
            border: 4px solid white;
        }
    }
    .v-avatar:not(:first-of-type){

        margin-left: -18px;
    }

}